@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    overflow-y: scroll;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: #f3f5f8;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
}
.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #3d535f;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}
b{
    font-size: 70px;
    color: #7f00ff;
}
.navItems{
    display: flex;
}
.navItems li{
    list-style: none;
    margin: 0  15px;
}
.navItems li a{
    font-size: 25px;
    color: #3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
.navItems li:hover a,
.Links a:hover{
    color: #7f00ff;
}
.Links a{
    font-size: 30px;
    color: #3d535f;
    margin: 25px 10px;
}
.wrapper{
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.wrapper::before{
    position: absolute;
    content: '';
    height: 600px;
    width: 600px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg,#7f00ff,pink);
    animation: object1 6s linear infinite;
}
.wrapper::after{
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(45deg,#7f00ff,pink);
    animation: object2 6s linear infinite;
}
@keyframes object1{
    50%{
        left: -13%;
        top: 41%;
    }
}
@keyframes object2{
    50%{
        left: 35%;
        top: 10%;
    }
}
.cols{
    width: 50%;
} 
.cols0{
    width: 60%;
    z-index: 5;
}
.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;
}
.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #7f00ff;
}
h1{
    display: block;
    font-size: 7em;
    font-weight: 900;
    color: #3d535f;
}
.multitext{
    color: #7f00ff;
    text-transform: capitalize;
}
p{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #3d535f;
}
.imgbox{
     position: relative;
     width: 100%;
     height: 100%;
}
.imgbox img{
    position: relative;
    height: 100%;
    width: calc(130% - 80px);
    top: -100px;
    right: 50px;
    transform: rotateY(180deg);
    animation: animateUser 4s linear infinite;
}
@keyframes animateUser{
    50%{
        right: 30px;
        top: -90px;
    }
}
.imgbox #splash{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-35deg);
    width: 160%;
    filter: saturate(200%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    50%{
        top: 49%;
        left: 51%;
        width: 155%;
    }
}

.section{
    padding: 80px 20px;
    min-height: 100vh;
}

#home{
    background-color: #f3f5f8;
}

#about{
    background-color: #f3f5f8;
}

#skills{
    background-color: #f3f5f8;
}

#blog{
    background-color: #f3f5f8;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.about-img {
    width: 45%;
}

.about-img img {
    width: 100%;
    border-radius: 10px;
}

.about-text {
    width: 50%;
}

.about-text h2 {
    font-size: 3em;
    color: #3d535f;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 1.2em;
    color: #3d535f;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent; /* Latar belakang transparan */
    transition: background-color 0.3s ease; /* Transisi perubahan warna latar belakang */
    z-index: 999; /* Pastikan navbar tetap di atas konten */
}

nav.scrolled {
    background-color: #ffffff; /* Warna latar belakang saat digulir */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Bayangan bawah saat digulir */
}

.aboutaja{
    color: #7f00ff
}

/* Gaya untuk bagian proyek */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.project-item {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-item img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

.project-item h2 {
    margin: 15px 0;
    font-size: 1.5em;
    color: #3d535f;
}

.project-item p {
    padding: 0 15px;
    margin-bottom: 15px;
    color: #666;
    flex-grow: 1;
}

.project-item .btn {
    display: inline-block;
    margin-bottom: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    align-self: center;
}

.project-item .btn:hover {
    background-color: #0056b3;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer h3 {
    margin-bottom: 10px;
    font-size: 24px;
    
  }
  
  .footer p {
    display: contents;
    margin-bottom: 20px;
    font-size: 16px;
    color:#ddd
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .footer-links a {
    color: #fff;
    font-size: 24px;
    transition: color 0.3s;
  }
  
  .footer-links a:hover {
    color: #ddd;
  }
